<div fxFlexFill fxLayout="column">
    <mat-toolbar style="background-color: #004281; color: white;">
        <mat-icon style="margin-right: 10px;"> show_chart</mat-icon>
        <span>TCM</span>
    </mat-toolbar>
    <section fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-card fxFlex="30">
            <mat-card-title>Overview</mat-card-title>
            <mat-card-content>
                <stock-overview></stock-overview>
            </mat-card-content>
        </mat-card>
        <section fxFlex="70" fxLayout="column" fxLayoutGap="10px">
            <mat-card>
                <mat-card-title>Chart</mat-card-title>
                <mat-card-content>
                    <stock-chart></stock-chart>
                </mat-card-content>
            </mat-card>
            <section fxLayout="row" fxFlex fxLayoutAlign="stretch" fxLayoutGap="10px">
                <mat-card fxFlex="50">
                    <mat-card-title>Portfolio</mat-card-title>
                    <mat-card-content>
                        <stock-portfolio></stock-portfolio>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex>
                    <mat-card-title>Transactions</mat-card-title>
                    <mat-card-content>
                        <stock-transaction-log></stock-transaction-log>
                    </mat-card-content>
                </mat-card>
            </section>
        </section>
    </section>
</div>
