<apx-chart 
    [series]="series"
    [chart]="chart"
    [dataLabels]="dataLabels"
    [markers]="markers"
    [title]="title"
    [fill]="fill"
    [yaxis]="yaxis"
    [xaxis]="xaxis"
    [tooltip]="tooltip"
    [autoUpdateSeries]="true"
></apx-chart>
 <!--<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly">
  <button mat-raised-button (click)="buyStock(100)" fxFlex="45" style="background-color: rgb(0, 190, 0);">Buy 100 shares</button>
  <button mat-raised-button (click)="sellStock(100)" fxFlex="45" style="background-color: rgb(255, 24, 24);">Sell 100 shares</button>
</div>--> 
